
.div{
    max-width: 59%;
    border-radius: 20px; 
    padding: 30px;
    width: 98%;
    margin: 50px auto; 
}
.div2{
    max-width: 59%;
    border-radius: 20px; 
    
    width: 98%;
    margin: 50px auto; 
}
.h2{
  
  font-family:Nunito;



}
  
