body h1 {
    text-align: center;

}


body h2 {

    text-align: center;

}

body h2 a{

    display: inline-block; 
    margin: 0 10px; 
    text-decoration: none;

}

img {
    border-radius: 100px;
    margin: 10px;
}
