h1.titulo-D{
    background-color:rgb(100, 98, 96);
    block-size: 80px;
    border-radius: 15px;
    display:inline-flex;
    margin-top: 100px;
    padding: 10px;
}
body.body-descarga{
    text-align: center;
    background-image: url(../assets/imagenfondoimagen.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0; 
}
div.indicar{
    margin: 20px auto;
    border: solid rgba(68, 236, 222, 0.26);
    margin-left: 300px;
    margin-right: 300px;
}
h2.Descarga{
    margin-top: 60px;
}
h2.opciones{
    margin-top: 25px;
}