body.body-Devlog{
text-align: center;
background-image: url(../assets/imagenfondoimagen.jpg);
background-size: cover;
background-position: center;
min-height: 213vh;
margin: 0; 

}

h1.desarrolladores-{
    margin-top: 100px;
    background-color: #1e9181;   
    padding: 20px;         
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    border-radius: 20px;

}
h2.h2-NE{
    border-radius: 15px;
    padding: 30px;        
    background-color: rgb(44, 44, 44); 
    margin: auto;  
    margin: 30px;          
    display: inline-block; 
    font-size: 30px;

}
h3.-somos{
    background-color: rgb(30, 99, 76);   
    padding: 20px;         
    border-radius: 20px;
    font-size: 30px;
    max-width: 1500px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #ffffff;

    
}

p.imagen-DEV{
    
    width: 500px;       
    height: 500px;      
    background-image: url(../assets/deepdark.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: 7px solid #000000; 

}

div.BOX{
    border: 4px solid #0000005d; 
    display: inline-block;  
    margin: 20px;
    border-width: 10px;
    border-radius: 40px;
    background-color: #214233;
    margin-bottom: 50px;
    
}


div.CAJA{

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;  
}

.MuiTypography-root.MuiTypography-h2.titulo-imagenn.css-o2za6n-MuiTypography-root{
    
    background-color: rgb(40, 110, 86);   
    padding: 5px;         
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    color: #f8dfde;
    font-size: 40px; 
    font-weight: bold; 
    text-align: center; 
    
    
}
.MuiTypography-root.css-rizt0-MuiTypography-root{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    color: #f8dfde;
    max-width: 60%;
    border-radius: 20px; 
    width: 98%; 
    margin: 50px auto; 
    text-align: justify;
    
}