footer{

  background:#1e9181;
  padding: 20px 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.menu{
  display: flex;
  justify-content: center;
  position:relative;
  align-items: center;
  gap: 10px;

}

.menu-icon{
  color: #f8dfde;
  margin: 0 10px;
  transition: 0.5s;
  opacity: 0.75;
}
.menu-icon:hover{
  color: #f8dfde;
  opacity: 7;
  transform: translateY(-10px);
}
.text{
  color: #f8dfde;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}