
.header{
    background-color:  #546adc;
    padding: 10px;
    margin: 0;
    position: relative;
    padding-bottom: 2em; 
}


.link {
    
    color: #f8dfde;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}
.link:hover{
    transform: translateY(-10px);
    opacity: 5;
    color: #f8dfde;
}

p h4{
    text-align:center;
    color:#f8dfde;
}
.title{
    text-align: center;
    color:#f8dfde;
    
    
}
.nav{
    display: flex;
    background-color:#000000;
}
.li{
   
    margin: 30px;
    color: #f8dfde;
}