
.header{
  
    background-color: rgb(33, 38, 39);
    color: rgb(31, 31, 26);
    padding: 10px;
   
}
.title{
    text-align: center;
    color:#1e9181;
}
.nav{
    display: flex;
    background-color:#000000;
}
.li{
    margin: 11px;
    color: #f8dfde;
}
