.review-section {
    padding: 20px;
    margin-right: 200px;
    
    
  }

  .h2R{

    font-family: Arial, sans-serif;
    margin-right: 1100px;
    color: #ffffff;
  }
  
  
  .review-form {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .review-form label {
    font-weight: bold;
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
    color: #ccc;
    margin-left: 100px;
  }
  
  .MuiFormControl-root.input-full-width{

    width: 30%;
    margin-bottom: 20px;
    display: flex;
    border-radius: 10px;
    margin-left: 100px;
    background-color: white;
  }
  .review-form textarea {
    width: 40%;
    margin-left: 100px;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
  }
  
  .review-form button {
    padding: 10px;
    background-color: #13a579;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 300px;
   
  }
  
  .rating-stars {
    color: #f4c542; /* Color de estrellas */
    font-size: 1.2em;
  }

  .review-list {
    
    padding: 5px;
  }
  
  .review-list li {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .review-list p {
    margin: 5px 0;
  }
  
  p strong {
    color: rgba(135, 224, 127, 0.788);
    padding-right: 10px;
  }
  
  .rating-stars {
    font-size: 20px;
    padding-right:10px;
    
  }

.review-li{

align-self: flex-start; 
display: flex;
flex-direction: column; /* Apilar los elementos en una columna */
align-items: flex-start; /* Alinea todo a la izquierda */
margin-bottom: 20px; /* Agregar un poco de espacio entre las reseñas */

}

.rating-stars {
  font-size: 20px; /* Ajustar el tamaño de las estrellas */
  margin-bottom: 10px; /* Espacio debajo de las estrellas */
}


 
  