.review-section {
  display: flex;
  flex-direction: column; /* Alinear elementos verticalmente */
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  min-height: 100vh; /* Altura completa de la ventana */
  padding: 20px;
}

  .h2R{

    font-family: Arial, sans-serif;
    margin-right: 1100px;
    color: #ffffff;
  }
  
  
  .review-form {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .review-form label {
    font-weight: bold;
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
    color: #ccc;
    margin-left: 100px;
  }
  
  .review-form input{

    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    border-radius: 10px;
    margin-left: 100px;

  }
  .review-form textarea {
    width: 40%;
    margin-left: 100px;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
  }
  
  .review-form button {
    padding: 10px;
    background-color: #13a579;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 300px;
   
  }
  
  .rating-stars {
    color: #f4c542; /* Color de estrellas */
    font-size: 1.2em;
  }

  .review-list {
    
    padding: 5px;
  }
  
  .review-list li {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .review-list p {
    margin: 5px 0;
  }
  
  li{
    display: block;
  }
 
  

  

 
  