body.body-sobrejuego{

    background-image: url(../assets/imagenfondoimagen.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0; 
}


h1.margen1{

    margin-top: 10px;
}


h4{
    margin-top: 150px ;
}

p.margen2{

    background-color: rgba(169, 169, 169, 0.5);  /* Gris semitransparente */
    padding: 20px;  /* Espacio dentro de la caja */
    border-radius: 8px;  /* Esquinas redondeadas */
    
    padding: 10px;
    max-width: 1200px; 
    word-wrap: break-word; 
    letter-spacing: -0.5px; 
    margin: 0 auto; 

}